.jumbotron {
            background-color: #f8f9fa; /* Change this to your desired background color */
            padding: 4rem 2rem;
            margin-bottom: 0;

        }

        .jumbotron h1 {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
        }

        .jumbotron p {
            font-size: 18px;
            text-align: center;
        }